stages:
  - doc
  - deploy

doc:
  image: "rust:latest"
  stage: doc
  script:
    - rustc --version && cargo --version
    - cargo doc

pages:
  stage: deploy
  script:
    - mkdir .public
    - cp -r target/doc/* .public
    - mv .public public
  artifacts:
    paths:
      - public

