stages:
  - doc
  - deploy

cache:
  - key: cargo
    paths:
      - target

doc:
  image: "rust:latest"
  stage: doc
  script:
    - rustc --version && cargo --version
    - cargo doc --all-features

pages:
  stage: deploy
  script:
    - mkdir .public
    - cp -r target/doc/* .public
    - mv .public public
  artifacts:
    paths:
      - public

